.container {
    display: flex;
    flex: 1; /* Using flex:1 will expand to fill the remaining space */
}

header {
    position: fixed;
    top:0;
    height: 60px;
    background-color: #333;
    color: #fff;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: #fff;
    width: 100%;
}